{{> nav }}
<div class="edit-container">
    <div class="title-container">
        <h1>{{title}}</h1>
    </div>
    <div class="edit-profile">
        <p>Please add some more information</h3>
        <div class="edit-form">
            <form method="POST">
                <label>First Name</label>
                <input type="text" name="firstname" value="{{firstname}}" autocomplete="off" >
                <label>Last Name</label>
                <input type="text" name="lastname" value="{{lastname}}" autocomplete="off" >
                <label>Email</label>
                <input type="email" name="email" value="{{email}}" autocomplete="off" >
                <label>Password</label>
                <input id="password" type="password" name="password" autocomplete="off" >
                <label>Age</label>
                <input type="text" name="age" value="{{age}}" autocomplete="off" >
                <label>City</label>
                <input type="text" name="city" value="{{city}}" autocomplete="off" >
                <label>Website</label>
                <input type="text" name="url" value="{{url}}" autocomplete="off" >
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="update-nav">
                    <p><a href="/thanks">Cancel</a></p>
                    <button type="submit" name="submitted" value="submitted">Update Profile</button>
                </div>
                {{#if confirm}}
                    <p>{{confirm}}</p>
                {{/if}}
            </form>
            <p><a href="/thanks">Back to Profile</a></p>
            <div class="delete-profile">
            <p><a href="/profile/delete">Delete your Profile</a></p>
        </div>
        </div>
        
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>