<div class="signers-container">
    <div class="title-container">
        <h1>{{title}}</h1>
    </div>
    <div class="signers">
        <p>We the people demand that this important topic be brought to justice</h3>
        <p>{{numOfSigs}} have signed. Goal: 1 million</p>
        {{!-- <div class="thermometer">Should I make this a partial?</div> --}}
        <div class="people">
            {{#allSigners}}
                {{#if url}}
                    <p><a href={{url}}>{{firstname}} {{lastname}}</a> | {{#if age}}{{age}} | {{/if}}<a href="/signers/{{city}}">{{city}}</a></p>
                {{else }}
                    <p>{{firstname}} {{lastname}} | {{#if age}}{{age}} | {{/if}} <a href="/signers/{{city}}">{{city}}</a></a></p>
                {{/if}}
            {{/allSigners}}
        </div>
        
    </div>
    <p class="proj-footer">© Rosaria Gandar 2020</h3>
</div>